body,
html {
  height: 100%;
  width: 100%;

  background: #f9f9f9;
}

#app {
  height: 100%;
  width: 100%;

  padding: 20px;

  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
